@model ValidacionFormularios.Models.ValidarUsuario

@{
    ViewData["Title"] = "Index";
}

@*

    <h1>Index</h1>

    <h4>ValidarUsuario</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edad" class="control-label"></label>
                    <input asp-for="Edad" class="form-control" />
                    <span asp-validation-for="Edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contrasenia" class="control-label"></label>
                    <input asp-for="Contrasenia" class="form-control" />
                    <span asp-validation-for="Contrasenia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmarContrasenia" class="control-label"></label>
                    <input asp-for="ConfirmarContrasenia" class="form-control" />
                    <span asp-validation-for="ConfirmarContrasenia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

*@

<h1>Validación usuario</h1>

<h3 style="color:dodgerblue">@ViewBag.Mensaje</h3>

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Apellidos</label>
        <input type="text" name="apellidos" class="form-control" />
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Edad</label>
        <input type="number" name="edad" class="form-control" value="0" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input type="text" name="contrasenia" class="form-control" />
        <span asp-validation-for="Contrasenia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Confirmar contraseña</label>
        <input type="text" name="confirmarContrasenia" class="form-control" />
        <span asp-validation-for="ConfirmarContrasenia" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info">Enviar</button>
</form>




